<form class="needs-validation" novalidate >
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">First name</label>
        <input type="text" class="form-control" id="validationTooltip01" placeholder="Nome" value="Mark" required formControlName="nome">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltip02">Last name</label>
        <input type="text" class="form-control" id="validationTooltip02" placeholder="Preço" value="Otto" required formControlName="preco">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltipUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
          </div>
          <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Categoria" aria-describedby="validationTooltipUsernamePrepend" required formControlName="categoria">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">City</label>
        <input type="text" class="form-control" id="validationTooltip03" placeholder="Descrição" required  formControlName="descricao">
      </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="onSubmit">Salvar</button>
    <button class="btn btn-default" type="button" (click)="onCancel">Salvar</button>
</form>